<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<meta charset="UTF-8">
<title>Cadastro de Evento</title>
</head>
<body>
<div class="container">
	<br>
	<h2>CADASTRO DE EVENTO</h2>
	<a class="btn btn-outline-secondary" th:href="@{/menu}">Voltar ao Menu</a>&nbsp;&nbsp;
	<a class="btn btn-outline-info" th:href="@{/menu/eventos}">Voltar ao Eventos</a>
	<hr>
	<!-- cadastro na lista de convidados -->
	<form th:action="@{/menu/eventos/addEvento}" th:object="${evento}" method="post">
		<!-- mesma baguncinha de antes
			<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
				<p th:each="err : ${#fields.allErrors()}" th:text="${err}"></p>
			</div>
			
			*-* agora é pra evento a mesma baguncinha
			<span th:if="${#fields.hasErrors('nomeEvento')}" th:errors="*{nomeEvento}"></span>
		-->
		<input type="hidden" th:field="*{codigo}">
		<div class="row" th:if="${#fields.hasErrors('nomeEvento')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{nomeEvento}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="nome" class="col-sm-2 col-form-label">Nome do Evento</label>
			<div class="col-sm-6">
				<input class="form-control" type="text" th:field="*{nomeEvento}">
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('descricaoEvento')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{descricaoEvento}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="descricao" class="col-sm-2 col-form-label">Descrição do Evento</label>
			<div class="col-sm-6">
				<textarea class="form-control" rows="3" th:field="*{descricaoEvento}"></textarea>
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('dataRealizacao')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{dataRealizacao}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="data de realizacao" class="col-sm-2 col-form-label">Data de Realização</label>
			<div class="col-sm-6">
				<input class="form-control" type="date" th:field="*{dataRealizacao}">
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('qtdMaximaConvidados')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{qtdMaximaConvidados}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="quantidade de convidados" class="col-sm-2 col-form-label">Quantidade de convidados</label>
			<div class="col-sm-6">
				<input class="form-control" type="number" th:field="*{qtdMaximaConvidados}">
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('nomeResponsavel')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{nomeResponsavel}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="nome do responsavel" class="col-sm-2 col-form-label">Nome do Responsável</label>
			<div class="col-sm-6">
				<input class="form-control" type="text" th:field="*{nomeResponsavel}">
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('telefoneResponsavel')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{telefoneResponsavel}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="telefone do responsavel" class="col-sm-2 col-form-label">Telefone do Responsável</label>
			<div class="col-sm-6">
				<input class="form-control" type="text" th:field="*{telefoneResponsavel}" placeholder="xxxx-xxxx">
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('duracaoEmHoras')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{duracaoEmHoras}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="duracao em horas" class="col-sm-2 col-form-label">Duração em Horas</label>
			<div class="col-sm-6">
				<input class="form-control" type="number" th:field="*{duracaoEmHoras}">
			</div>
		</div>
		<div class="row" th:if="${#fields.hasErrors('localEvento')}">
			<div class="col-sm-2 p-3"></div>
			<div class="col-sm-auto text-left text-danger">
				<span th:errors="*{localEvento}" class="font-italic"></span>
			</div>
		</div>
		<div class="form-group row">
			<label for="escolha um local" class="col-sm-2 col-form-label">Escolha um Local</label>
			<div class="col-sm-6">
				<select class="form-control" th:field="*{localEvento}">
					<option th:each="localEvento : ${locaisEventos}" th:value="${localEvento.codigo}" th:text="${localEvento.endereco.nome}"></option>
				</select>
			</div>
		</div>
		<div class="form-group row">
			<div class="col-sm-8 text-right">
				<input class="btn btn-success" type="submit" value="Salvar">
			</div>
		</div>
	</form>
</div>
</body>
</html>