<!DOCTYPE html>
<html	xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Eventos</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
</style>
</head>
<body>
<div class="container">
	<br>
	<!-- página aonde poderá criar varias listas
		de convidados e manter controle sobre elas -->
	<h2>EVENTOS</h2>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="collapse navbar-collapse">
			<ul class="navbar-nav mr-auto">
			    <li class="nav-item">
					<a class="nav-link" th:href="@{/menu}">Voltar ao Menu</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/menu/eventos/cadastrar}">Novo Evento</a>
				</li>
    		</ul>
			<form class="form-inline my-2 my-lg-0" th:action="@{/menu/eventos}" method="post">
				<input class="form-control mr-sm-2" type="search" name="nomePesquisado" placeholder="Pesquisar" aria-label="Pesquisar">
				<button class="btn btn-outline-info my-2 my-sm-0" type="submit">Pesquisar</button>
			</form>
		</div>
	</nav>
	<hr>
	<div class="card">
		<table class="table">
		  <thead class="thead-light">
		    <tr>
		      <th scope="col">Nome do Evento</th>
		      <th scope="col">Data</th>
		      <th scope="col">Nome do Responsável</th>
		      <th scope="col">Telefone do Responsável</th>
		      <th scope="col">Duração</th>
		      <th scope="col">Ações</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="evento : ${listaEventos}">
		      	<td th:text="${evento.nomeEvento}"></td>
				<td th:text="${evento.dataRealizacao}"></td>
				<td th:text="${evento.nomeResponsavel}"></td>
				<td th:text="${evento.telefoneResponsavel}"></td>
				<td th:text="${evento.duracaoEmHoras}"></td>
				<td>
					<a class="btn btn-warning" th:href="|/menu/eventos/editar?codigo=${evento.codigo}|">Editar</a>&nbsp;&nbsp;
					<a class="btn btn-danger" th:href="|/menu/eventos/remover?codigo=${evento.codigo}|">Remover</a>
				</td>
		    </tr>
		  </tbody>
		</table>
	</div>
</div>
</body>
</html>